header
{
    background-image: url('../images/01.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
}
nav
{
    position: relative;
    top: 250px;
    background-color: brown;
    padding: 50px;
    width: 30%;
    margin: auto;
}
nav .name_img
{
    text-align: center;
    color: white;
}
nav .name_img img
{
    width: 80px;
    height: 70px;
}
form .input_1, .input_2, .input1
{
    padding: 5px;
}
form .input_1 input, form .input_2 input
{
	 width: 100%;
	 height: 25px;
	 padding: 15px;
	 margin-bottom: 10px;
	 border: none;
	 border-bottom: 5px solid #9c0808fd;
	 outline: none;
}
header nav form .input_btn button
{
    border: none;
    background-color: rgb(122, 9, 9);
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
}
header nav form .input_btn button:hover
{
    background-color: rgb(255, 255, 255);
    color: red;
    font-weight: bold;
}